# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
android_build_log*.txt
ios_log*.txt
android_failed_log.txt
android_job_log.txt

# Secrets
secret.key

# IDEs
.vscode/
.idea/
